## Dependencies
/vendor/
composer.lock
auth.json

## PHPUnit
.phpunit.result.cache
.phpunit.cache
phpunit.xml

## PHP tooling
.php-cs-fixer.cache
.php_cs
.php_cs.cache
.phpactor.json

## IDE / Editor
.idea/
.vscode/
*.iml

## OS / Misc
.DS_Store
Thumbs.db
